html{
    scroll-behavior: smooth;
}
body{
    font-family: serif;
    background-color: gainsboro;
    margin:10px;
    font-size: 20px;
}
h1{
    text-align: center;
    text-shadow: 0 0 3px black;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
    background: #304352;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(45deg,#304352,#d7d2cc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(20deg,#304352,#d7d2cc,#304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   /* background: -webkit-linear-gradient(to left, #304352,#d7d2cc );  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to left,#304352, #d7d2cc ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0 0 10px black;
    padding: 10px;
}
p,td{
    text-align: center;
}
table{
    width: 100%;
}
img,iframe{
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    border: 5px solid white;
}